.zig-zag-container{
    background-image: url("../images//process-bg.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    height: 300px;
    background-color:#00111E;
}